body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    vertical-align: bottom;
    width: 100%;
}
.header {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 3.6vw;
    text-align: center;
}
.footer p {
    margin: 0;
    padding: 0 15%;
    text-align: justify;
}
.thumbnails {
    margin: 0 auto;
    padding: 0 25%;
}
.thumb {
    background-color: rgb(36, 92, 182);
    border-radius: 15px;
    margin-bottom: 50px;
}
.thumb .title {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(240, 234, 234);
    color: rgb(104, 104, 104);
    text-align: center;
}
h2 {
    margin: 0;
    padding: 5px;
    font-size: 3.6vw;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        text-align: left;
        margin-left: 5%;
        font-size: 2.5vw;
    }
    h1 {
        margin: 0;
    }
    h2 {
        font-size: 2.5vw;
    }
    .thumbnails {
        margin: 1% 5%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 12.5%;
    }
    .footer p {
        padding: 0 5%;
    }
}
@media screen and (min-width: 768px) {
    .header {
        text-align: left;
        margin-left: 5%;
        font-size: 1.5vw;
    }
    h1 {
        margin: 0;
    }
    h2 {
        font-size: 1.5vw;
    }
    .thumbnails {
        margin: 1% 5%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 0 5%;
    }
    .footer p {
        padding: 0 5%;
    }
}